<!DOCTYPE html>
<html>
<head>
    <title>regist</title>
    <% include head%>
</head>
<body>

<h3>regist</h3>

<form action="users/regist" method="post">
    <input type="text" name="username" value="" placeholder="input username">
    <input type="password" name="password" value="" placeholder="input password">
    <input type="submit" value="regist">
</form>
<div>got account,<a href="/login">login</a>! </div>
</body>
</html>
